brotlipy
Cartopy
certifi==2022.12.7
cffi
charset-normalizer
colorama
contourpy
cryptography
cycler
fonttools
GDAL
idna
imagecodecs
kiwisolver
matplotlib
munkres==1.1.4
numpy
packaging
Pillow
platformdirs
ply==3.11
pooch
pycparser
pyOpenSSL
pyparsing
pyproj==3.4.0
pyshp
PySocks
python-dateutil
requests
scipy==1.10.1
shapely
sip
six
tifffile
toml
tornado
tqdm
typing_extensions
urllib3
